<?xml version="1.0"?>
<robot name="rover_v1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mesh_path" value="$(find rover_control_test_description)/meshes" />

  <link name="base_link">
   <collision>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/base_link.STL"/>
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/base_link.STL"/>
     </geometry>
   </visual>  
  </link>  

    <link name="front_left_wheel">
   <collision>
     <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/front_wheel.STL"/>
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/front_wheel.STL"/>
     </geometry>
   </visual>  
  </link>

  <joint name="front_left_joint" type="continuous">
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
    <dynamics damping="0.7"/>
    <origin xyz="-0.5 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="front_left_wheel"/>  
  </joint>  

  <link name="front_right_wheel">
   <collision>
     <origin xyz="0 0 0" rpy="0 -${PI/2} 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/front_wheel.STL"/>
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="0 -${PI/2} 0"/>
     <geometry>
       <mesh filename="file://${mesh_path}/front_wheel.STL"/>
     </geometry>
   </visual>  
  </link>

  <joint name="front_right_joint" type="continuous">
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
    <dynamics damping="0.7"/>
    <origin xyz="0.5 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="front_right_wheel"/>  
  </joint> 

  <link name="tail_link">
   <collision>
     <origin xyz="0 0 0" rpy="0 0 -${PI/2}"/>
     <geometry>
       <mesh filename="file://${mesh_path}/tail_link.STL"/>
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="0 0 -${PI/2}"/>
     <geometry>
       <mesh filename="file://${mesh_path}/tail_link.STL"/>
     </geometry>
   </visual>  
  </link>  

  <joint name="base_to_tail" type="revolute">
    <parent link="base_link"/>
    <child link="tail_link"/>
    <axis xyz="0 0 1"/>
    <joint_properties damping="0.0" friction="0.0"/>
    <dynamics damping="0.7"/>
    <origin xyz="0 0.3 0.3"/>
    <limit lower="-1.57" upper="1.57" effort="100" velocity="100"/>
  </joint>

  <link name="rear_wheel">
   <collision>
     <origin xyz="0 0 0" rpy="0 0 ${PI}"/>
     <geometry>
       <mesh filename="file://${mesh_path}/rear_wheel.STL"/>
     </geometry>
   </collision>
   <visual>
     <origin xyz="0 0 0" rpy="0 0 ${PI}"/>
     <geometry>
       <mesh filename="file://${mesh_path}/rear_wheel.STL"/>
     </geometry>
   </visual>  
  </link>

  <joint name="rear_joint" type="continuous">
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <joint_properties damping="0.0" friction="0.0"/>
    <dynamics damping="0.7"/>
    <origin xyz="0.5 0 0" rpy="0 0 0"/>
    <parent link="tail_link"/>
    <child link="rear_wheel"/>  
  </joint>

</robot>
