<?xml version="1.0"?>
<robot>
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
      <updateRate>100.0</updateRate>
      <robotNamespace>/</robotNamespace>
      <leftFrontJoint>base_to_left1</leftFrontJoint>
      <rightFrontJoint>base_to_right1</rightFrontJoint>
      <leftRearJoint>base_to_left2</leftRearJoint>
      <rightRearJoint>base_to_right2</rightRearJoint>
      <wheelSeparation>2</wheelSeparation>
      <wheelDiameter>0.2</wheelDiameter>
      <robotBaseFrame>base_link</robotBaseFrame>
      <torque>20</torque>
      <covariance_x>0.0001</covariance_x>
      <covariance_y>0.0001</covariance_y>
      <covariance_yaw>0.0001</covariance_yaw>
      <topicName>cmd_vel</topicName>
      <odometryFrame>odom</odometryFrame>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <broadcastTF>true</broadcastTF>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="right_wheel1">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="left_wheel1">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="right_wheel2">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="left_wheel2">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

</robot>
