<?xml version="1.0"?>
<robot>
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">
      <alwaysOn>true</alwaysOn>
      <legacyMode>true</legacyMode>
      <updateRate>100</updateRate>
      <leftJoint>base_to_left</leftJoint> <!-- intentionally reverted -->
      <rightJoint>base_to_right</rightJoint>
      <wheelSeparation>0.474</wheelSeparation>
      <wheelDiameter>0.14</wheelDiameter>
      <wheelTorque>0.8</wheelTorque>
      <wheelAcceleration>0.05</wheelAcceleration>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>true</publishWheelTF>
      <publishWheelJointState>true</publishWheelJointState> 
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="tail_main">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
  </gazebo>
  <gazebo reference="tail_short">
    <mu1>0.3</mu1>
    <mu2>0.3</mu2>
  </gazebo>
  <gazebo reference="tail_long">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>
  <gazebo reference="front_right_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="front_left_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>
  <gazebo reference="rear_wheel">
    <mu1>0.8</mu1>
    <mu2>0.8</mu2>
    <kp>100000000.0</kp>
    <kd>1.0</kd>
  </gazebo>

</robot>
